/* Global Variables & Values */

#site-logo {
    max-width:120px;
}

.navbar-toggle {
    top: 30px;
    right: -5px;
    border: solid 2px rgba(255,255,255,1) !important;
    border-radius: 5px;
    background:#222;
}

.navbar-toggle:hover {
    background:$brand-primary;
}

.navbar-toggle:first-child:before {
    content:'Menu';
    float:left;
    padding:0 0 0 33px;
    font-weight:bold;
    color:#fff;
}

.user-signup-header {
    width:100% !important;
    text-align:center;
    padding:5px;
    font-size:0.9em;
    i {
        font-style:normal !important;
        font-weight:bold;
        text-align:center;
        text-transform:uppercase;
    }
    a {
        font-weight:bold !important;
    }
}

.banner .top-header {
    background:#111;
    border-top:solid 1px #111;
    border-bottom:solid 1px #222;
    font-size:0.9em;
    color:#fff;
}

.banner {
    border-bottom:solid 2px $brand-primary;
}

.hji-header-social-media {
    float:right;
    margin:10px 20px 0 0;
    background:#222;
    border-radius:5px;
    padding:5px 10px;
    z-index:9999;
    color:#f7f7f7;
    font-size:1.6em;
    a {
        color:#f7f7f7;
        margin-left:0.3em;
    }
    @media(max-width:1199px){
        font-size:1.4em;
    }
    @media(max-width:767px){
        font-size:1.2em;
    }
}

#hji-theme-main-menu-widget-2 {
    margin-top:30px;
    .navbar-nav {
        @media(max-width:1000px){
            font-size:0.9em;
        }
        @media(max-width:900px){
            font-size:0.8em;
        }
        @media(max-width:767px){
            font-size:1.05em;
            li {
                background:#111;
                border:#222;
                margin:0.5% 0;
            }
        }
    }
}

.push-left {
    float:left;
}

.push-right {
    float:right;
}

.tab-section {
    margin:170px 50px;
    @media(max-width:980px){
        margin:200px 0;
    }
    @media(max-width:800px){
        margin:150px 0;
    }
}

.tab-pane {
    padding:0;
}

.nav-tabs {
    border:none;
}

.nav-tabs li a {
    background:rgba(0,0,0,0.3);
    color:#fff;
    border:none;
}

.nav-tabs li.active a {
    background:rgba(0,0,0,1) !important;
    color:#fff !important;
    border:none !important;
}

.nav-tabs li a:hover {
    background:$brand-primary !important;
    color:#fff !important;
    border:none !important;
}

.home .quick-search-widget-wrapper {
    background:rgba(0,0,0,0.6);
    border:none;
    margin:-10px auto 0 auto;
    padding:10px;
}

.home .hji-home-value-form {
    background:rgba(0,0,0,0.6);
    border:none;
    margin:0 auto 0 auto;
    padding:10px;
}

.widget_promoted_listings_widget {
    .widget-title {
        h3 {
            margin:30px auto;
            font-size:2.2em;
        }
    }
}

.agentinfowrap {
    .agent-box {
        background:rgba(255,255,255,0.9);
        padding:20px 15px;
        margin-top:-10px;
        h3 {
            font-size:2em;
        }
        p {
            line-height:1.5em;
            font-size:1.05em;
        }
        a {
            display:inline-block;
            margin:0 5px;
            i {
                font-size:1.2em;
            }
        }
    }
}

footer {
    .container {
        text-align:center;
    }
    .socialmedia-footer {
        text-align:center;
        margin:10px auto 20px auto;
        background:#222;
        border-radius:5px;
        padding:5px 10px;
        display:inline-block;
    }
    a {
        i {
            font-size:1.85em !important;
            margin:0 7px;
            color:#f7f7f7;
        }
    }
    h3 {
        color:#fff;
        text-align:left;
    }
    ul {
        margin:20px auto;
        padding:0;
        text-align:left;
        li {
            float:left;
            display:inline-block;
            a {
                background:darken($brand-primary,3%);
                padding:10px 15px;
                margin:0 5px 5px 0;
            }
            a:hover {
                background:lighten($brand-primary,7%) !important;
            }
        }
    }
    #recent-posts-2 ul {
        margin:30px auto;
    }
}

#copyright {
    background: #111;
    border-top:solid 1px #222;
    padding: 20px 0;
    font-size: 0.8em;
    margin: 20px 0 0 0;
}

#idx-footer-compliance {
    display:none;
}
